<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Lustrous Lynxes</title>
    {{/if}}

    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/client.js"></script>

    {{#if includeTinyMCEScripts}}
    {{> tinyMCE-partial}}
    {{/if}}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="#">Home</a>
                <a href="./articles">Articles</a>
            </div>

            <div class="navbar-right">    
                {{#if user}}
                <a class="logout" href="./logout">Logout</a>
                <a href ="./edit-account"><img src="/images/settings.png" alt="Settings Icon" class="icon"></a>
                {{else}}
                <a class="login" href= "./login">Login</a>
                {{/if}}
            </div>
        </nav>

{{#if toastMessage}}
    <p>{{toastMessage}}</p>
{{/if}}
    {{{body}}}
</body>

</html>