<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Lustrous Lynxes</title>
    {{/if}}

    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/client.js"></script>

    {{#if includeTinyMCEScripts}}
    {{> tinyMCE-partial}}
    {{/if}}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/">Home</a>
                <a href="./articles">Articles</a>
            </div>

            <div class="navbar-right">    
                {{#if user}}
                <a class="logout" href="./logout">Logout</a>
                <a href ="./edit-account">
                    <img src="/images/icons/settings.png" alt="Settings Icon" title="Settings" class="icon">
                </a>
                {{else}}
                <a class="login" href= "./login">Login</a>
                {{/if}}
            </div>
        </nav>
        
        {{#if toastMessage}}
        <div class="toast-container">
            <p class="toast-message">{{toastMessage}}</p>
        </div>
        {{/if}}
    </header>
    
    {{{body}}}

    <footer>
        <h5>Image licenses</h5> 
        <a href="https://www.flaticon.com/free-icons/hamburger" title="hamburger icons">Hamburger icons   created by Freepik - Flaticon</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/pizza" title="pizza icons">Pizza icons created by Freepik - Flaticon</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/food-and-restaurant" title="food and restaurant icons">Food and restaurant icons created by Freepik - Flaticon</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/pasta" title="pasta icons">Pasta icons created by Freepik - Flaticon</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/fast-food" title="fast food icons">Fast food icons created by Freepik - Flaticon</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/strawberry" title="strawberry icons">Strawberry icons created by Freepik - Flaticon</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/avocado" title="avocado icons">Avocado icons created by Freepik - Flaticon</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.flaticon.com/free-icons/bell-pepper" title="Bell pepper icons">Bell pepper icons created by Freepik - Flaticon</a> 
    </footer>
</body>

</html>