<div class="page-container">    
    <h1>Account Page</h1>
    <img src="/images/avatars/{{user.avatar}}" alt="{{user.avatar}}" class="icon">

    <p>Username: {{user.username}}</p>
    <p>Name: {{user.fName}} {{user.lName}}</p>

    {{#if user.dateOfBirth}}
    <p>Date of Birth: {{user.dateOfBirth}}</p>
    {{/if}}

    {{#if user.description}}
    <p>Description: {{user.description}}</p>
    {{/if}}

    <a href="./add-article">
        <button>Create New Article</button>
    </a>

    <h2>{{user.fName}}'s Articles</h2>

    <div class="all-cards">
        {{#each artCard}}
        <div class="summary-card my-page">
            <div class="card-image">
                <img src="/images/{{imgFileName}}"> 
            </div>
            <div class="card-title">
                <h4>{{title}}</h4>
            </div>
            <div class="card-content">
                <div class="summary">
                    <p>{{{content}}}</p>
                </div>
                <a href="./full-article?id={{id}}">
                    <p id="read-more">Read More</p>
                </a>                    
            </div>
            <div class="card-options">
                <button>Edit</button>
                <button>Delete</button>
            </div>                     
        </div>
        {{/each}}
    </div>
</div>

