<div class="page-container">    
    <h2>Account Page</h2>
    <img src="/images/avatars/{{user.avatar}}" alt="{{user.avatar}}" class="icon">

    <p>Username: {{user.username}}</p>
    <p>Name: {{user.fName}} {{user.lName}}</p>

    {{#if user.dateOfBirth}}
    <p>Date of Birth: {{user.dateOfBirth}}</p>
    {{/if}}

    {{#if user.description}}
    <p>Description: {{user.description}}</p>
    {{/if}}

    <a href="./add-article">
        <button>Create New Article</button>
    </a>

    <h2>{{user.fName}}'s Articles</h2>
</div>