<h2>Account Page</h2>
<img src="/images/avatars/{{user.avatar}}" alt="{{user.avatar}}" class="icon">

<p>Username: {{user.username}}</p>
<p>Name: {{user.fName}} {{user.lName}}</p>
{{#if user.description}}
<p>Description: {{user.description}}</p>
{{/if}}

<h2>Your Article</h2>