{{#if noUser}}
<div class="page-container">
    <h1>Something went wrong</h1>
    <p class="centred-text">This user does not exist.</p>
</div>
{{else}}
<div class="user-header">
    <div class="user-avatar">
        <img src="/images/avatars/{{visitUser.avatar}}" alt="{{visitUser.avatar}}" class="icon">
    </div>

    <div class="user-username">
        <h1>{{visitUser.username}}</h1>
    </div>

    <div class="user-info">
        <table>
            <tr>
                <th>Name:</th>
                <td>{{visitUser.fName}} {{visitUser.lName}}</td>
            </tr>
            {{#if visitUser.dateOfBirth}}
            <tr>
                <th>Date of Birth:</th>
                <td>{{visitUser.dateOfBirth}}</td>
            </tr>
            {{/if}}
        </table>
    </div>

    <div class="user-description">
        {{#if visitUser.description}}
        <p>{{visitUser.description}}</p>
        {{/if}}
    </div>

    <div class="user-header-button-container">
        {{#if myAccount}}
        <a href="./add-article">
            <button>Create new article</button>
        </a>
        <a href="./edit-account">
            <button>Edit profile</button>
        </a>
        {{/if}}
    </div>
</div>

<div class="page-container">
    <h2>{{visitUser.fName}}'s Articles</h2>

    <div class="all-cards">
        {{#each artCard}}
        <div class="summary-card my-page" data-article-id="{{id}}">
            <div class="card-image">
                <img src="/images/{{imgFileName}}">
            </div>
            <div class="card-title">
                <h4>{{title}}</h4>
            </div>
            <div class="card-content">
                <div class="summary">
                    <p>{{{content}}}</p>
                </div>
                <div class="card-info">
                    <a href="./full-article?id={{id}}">
                        <p id="read-more">Read More</p>
                    </a>
                </div>
            </div>
            {{#if ../myAccount}}
            <div class="card-options">
                <a href="./edit-article?id={{id}}">
                    <button>Edit</button>
                </a>
                <form action="./delete-article/{{id}}" method="POST" class="delete-article-form"
                    data-article-title="{{title}}">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}