<div class="user-header">
    <div class="user-avatar">
        <img src="/images/avatars/{{user.avatar}}" alt="{{user.avatar}}" class="icon">
    </div>

    <div class="user-username">
        <h1>{{user.username}}</h1>
    </div>

    <div class="user-info">
        <table>
            <tr>
                <th>Name:</th>
                <td>{{user.fName}} {{user.lName}}</td>
            </tr>
            {{#if user.dateOfBirth}}
                <p>Date of Birth: {{user.dateOfBirth}}</p>
            {{/if}}
        </table>
    </div>

    <div class="user-description">
        {{#if user.description}}
        <p>{{user.description}}</p>
        {{/if}}
    </div>

    <div class="user-header-button-container">
        <a href="./add-article">
            <button>Create new article</button>
        </a>
        <a href="./edit-account">
            <button>Edit profile</button>
        </a>
    </div>
</div>

<div class="page-container"> 
    <h2>{{user.fName}}'s Articles</h2>

    <div class="all-cards">
        {{#each artCard}}
        <div class="summary-card my-page">
            <div class="card-image">
                <img src="/images/{{imgFileName}}"> 
            </div>
            <div class="card-title">
                <h4>{{title}}</h4>
            </div>
            <div class="card-content">
                <div class="summary">
                    <p>{{{content}}}</p>
                </div>
                <div class="card-info">
                    <a href="./full-article?id={{id}}">
                        <p id="read-more">Read More</p>
                    </a>
                </div>                    
            </div>
            <div class="card-options">
                <a href="./edit-article?id={{id}}">
                    <button>Edit</button>
                </a>
                <form action="./delete-article/{{id}}" method="POST" class="delete-article-form" data-article-title="{{title}}">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>