{{#if toastMessage}}
    <p>{{toastMessage}}</p>
{{/if}}
<div id="articles-page">
    <h1>All Articles</h1>

    <div class="all-cards">
        {{#each artCard}}
        <div class="summary-card">
            <div class="card-image">
                <img src="/images/{{this.filName}}">
            </div>
            <div class="card-title">
                <h3>{{this.title}}</h3> 
                <h4>By {{this.fName}} {{this.lName}} </h4>
            </div>
            <div class="card-content">
                <p>{{this.short}}...</p>
                <a href="#">Read More</a>
            </div>           
        </div>
        {{/each}}
    </div>
</div>
