{{#if toastMessage}}
    <p>{{toastMessage}}</p>
{{/if}}
<div id="articles-page">
    <h1>All Articles</h1>

    <div class="all-cards">
        {{#each artCard}}
        <div class="summary-card">
            <div class="card-image">
                <img src="/images/{{filName}}">
            </div>
            <div class="card-title">
                <h3>{{title}}</h3> 
                <h4>By {{fName}} {{lName}} </h4>
            </div>
            <div class="card-content">
                <p>{{short}}...</p>
                <a href="#">Read More</a>
            </div>           
        </div>
        {{/each}}
    </div>
</div>
