<h2>Account Settings</h2>
<form>
    <h3>Change Account Details</h3>
    <label for="username">Username</label>
    <input type="text" placeholder="{{user.username}}" name="username" value="{{user.username}}"><br><br>
    <label for="fName">First Name</label>
    <input type="text" placeholder="{{user.fName}}" name="fName" value="{{user.fName}}"><br><br>
    <label for="lName">Last Name</label>
    <input type="text" placeholder="{{user.lName}}" name="lName" value="{{user.lName}}"><br><br>

    <label for="avatar">Select your avatar:</label>
    <select id="chooseAvatar" name="avatar">
        {{#each avatars}}
            <option value={{filName}}>{{name}}</option>
        {{/each}}
    </select><br><br>

    <textarea id="profileText" name="description" rows="4" cols="40" value="{{user.description}}">{{user.description}}</textarea><br>
    <button type="submit">Save Changes</button>
</form>
        
    <!-- Seperate Password as the logic is different -->
<form>
    <h3>Change Password</h3>
    <p>Require current password as validation.</p>
    <label for="password">Current Password:</label>
    <input type="password" name="password" required>

    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" required>
    <button type="submit">Change Password</button>
</form>

<h3>Delete Account</h3>
<button>Delete My Account</button>