<div id="full-article">
    <div class="header-details"></div>
        <h1>{{artFull.title}}</h1>
        <h2>By {{artFull.fName}} {{artFull.lName}} </h2>
    <div class="all-cards">
        <div class="full-card">
            <div class="header-image">
                <img src="/images/{{artFull.filName}}">
            </div>
            <div class="full-content">
                <p>{{{artFull.content}}}</p>
            </div>
        </div>
    </div>
</div>
<fieldset>Give this article a rating
<form action="./rating" method="post">
<input type="text" placeholder="Rating" name="rating" required>
<input type="hidden" name="id" value="{{artFull.id}}">
<button type="submit">Submit</button>
</form>
</fieldset>